body{
padding: 0;
margin: 0;
font-size: 16px;
line-height: 24px;
font-family: "Arial", sans-serif;
color: #404040;
background-color: white;
min-width: 840px;
}
.container{
width: 800px;
margin: 0 auto;
}
.clearfix::after{
content: "";
display: table;
clear: both;
}
.page-header{
  background: url("img/wheat-back.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 58px 0 0 0;
  min-height: 490px;
}
.header-top{
margin-bottom: 130px;
}
.header-logo{
height: 78px;
width: 140px;
float: left;
}
.header-logo img{
  height: 78px;
  width: 140px;

}
.page-header p{
font-weight: bold;
font-size: 70px;
line-height: 70px;
color: #fff;
text-align: center;
}
.h-links{
list-style:none;
margin:12px 0;
padding-top: 23px;
padding-bottom: 23px;
width: 600px;
float:right;
text-transform: uppercase;
border: 1px solid #443d35;
border-left-style: none;
border-right-style: none;
}
.h-links li{
float: left;
margin-right: 40px;
}

.h-links a{
text-decoration: none;
color: white;
}
.section-title{
text-transform: uppercase;
font-size: 40px;
line-height: 61px;
margin: 0;
margin-top: 94px;
}

.new-stuff img{
  /* position: absolute; */
}
h3{
  text-transform: uppercase;
}
.tovar{
  position: relative;
   float: left;
   width: 400px;
   /* margin-right: 48px;
  padding: 15px 22px;
  padding-top: 221px; */
}

.tovari{
margin-bottom: 50px;

}


.page-footer{
  padding: 0;
}
